<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleName</key><string>Imperial Splendour Bundler</string>
	<key>CFBundleExecutable</key><string>imperial-splendour-Bundler</string>
	<key>CFBundleIdentifier</key><string>wails.Imperial Splendour bundler.0.1.0</string>
	<key>CFBundleVersion</key><string>0.1.0</string>
	<key>CFBundleGetInfoString</key><string>Built by Tristan Au at 24 Jan 21 13:36 CET using Wails (https://wails.app)</string>
	<key>CFBundleShortVersionString</key><string>0.1.0</string>
	<key>CFBundleIconFile</key><string>iconfile</string>
	<key>NSHighResolutionCapable</key><string>true</string>
</dict></plist>